* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5px;
}

nav div.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #1FC1C3;
    }

nav div.logo-name {
    display: flex;
    align-items: center;
}

nav h2 {
    text-align: center;
    padding: 10px;
    font-size: 1.4em;
}

nav button {
    display: none;
}

nav ul {
    display: flex;
    margin-left: 150px;
}

nav ul.open {
    display: none;
}

nav ul li a {
    border: none;
    font-size: 17px;
}

header p {
    font-size: 17px;
}

.logo img{
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.social-media {
    margin-right: auto;
    margin-left: auto;
}

/* Main content styles */

.event, .hero-img, .spotlights, .weather, .join, .news-release {
    border: 1px solid #144367;
}

.event {
    grid-area: event;
}

.hero-img {
    grid-area: hero-img;
    height: 300px;
}

.spotlights {
    grid-area: spotlights;
}

.weather {
    grid-area: weather;
}

.join {
    grid-area: join;
}

.news-release {
    grid-area: news-release;
    height: 150px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "event hero-img spotlights"
    "weather hero-img spotlights"
    "join news-release spotlights";
    gap: 10px;
}

    /* Footer styles */

    footer div.footer-info img {
    width: 100px;
    height: 100px;
}


footer {
    padding: 0 20px 0 20px;
    background-color: #144367;
}

footer h2 {
    font-size: 1.8em;
}

.footer-copyright {
    padding-bottom: 5px;
}