@media only screen and (min-width: 64em) {

    /* Nav styles */

    nav div.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #1FC1C3;
    }

    nav div.logo-name {
        display: flex;
        align-items: center;
    }

    nav div p {
        text-align: center;
        padding: 10px;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        margin-left: 150px;
    }

    nav ul.open {
        display: none;
    }

    nav ul li a {
        border: none;
        font-size: 17px;
    }

    header p {
        font-size: 17px;
    }

    .logo img{
        margin-left: 10px;
    }

    .social-media {
        margin-right: auto;
        margin-left: auto;
    }

    /* Main content styles */

    .spotlights div.spotlight-3 {
        display: unset;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 5px;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .hero-img {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
    }

    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        height: 96%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .spotlights div {
        height: 100%;
        
        margin-left: auto;
        margin-right: auto;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .news-release {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    /* Footer styles */

    footer {
        padding: 0 20px 0 20px;
    }

    .site-name {
        font-size: 1.8em;
    }

    .footer-copyright {
        padding-bottom: 5px;
    }

    .content-1::before, .content-2::before, .content-3::before, .content-4::before {
        content: normal;
    }

}