@media only screen and (min-width: 64em) {

    /* Nav styles */

    #banner {
        font-size: 1.3rem;
    }

    nav div.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #1FC1C3;
    }

    nav div.logo-name {
        display: flex;
        align-items: center;
    }

    nav h2 {
        text-align: center;
        padding: 10px;
        font-size: 1.4em;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        margin-left: 150px;
    }

    nav ul.open {
        display: none;
    }

    nav ul li a {
        border: none;
        font-size: 17px;
    }

    header p {
        font-size: 17px;
    }

    .logo img {
        margin-left: 10px;
    }

    .social-media {
        margin-right: auto;
        margin-left: auto;
        
    }

    /* Main content styles */

    .spotlights div.spotlight-3 {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 10px;
        max-width: 1200px;
        margin: 0 auto 0 auto;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-img {
        grid-column: 2/3;
        grid-row: 1/3;
        /* height: 100%; */
        margin: 0;
    }

    .hero-img picture img {
        height: 550px;
    }

    .spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .spotlights div {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0 10px 0;
    }

    .spotlight-3 {
        text-align: center;
        background-color: #0f3552;
        padding: 10px;
    }

    .spotlights picture img {
        width: 80px;
        height: 80px;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .weather hr {
        width: 98%;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0;
    }

    .news-release {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .news-release h3 {
        margin-bottom: 25px;
    }

    /* Footer styles */

    footer {
        margin-top: 20px;
        padding: 0 20px 0 20px;
        border-top: 1px solid #1FC1C3;
    }

    footer h2 {
        font-size: 1.8em;
    }

    .footer-copyright {
        padding-bottom: 5px;
    }

    .content-1::before, .content-2::before, .content-3::before, .content-4::before {
        content: normal;
    }

}