* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */

#banner {
    font-size: 0.9rem;
}

nav {
    background-color: #144367;
}

nav div.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #1FC1C3;
}

.logo-name {
    display: flex;
    align-items: center;
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #FFFFFF;
    grid-column: 5/6;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

nav ul li a:hover {
    background-color: #1FC1C3;
    color: #000000;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    grid-column: 1/6;
    grid-row: 2/3;
    text-align: center;
    padding: 5px;
    font-size: 1.1em;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

.logo img {
    grid-column: 1/2;
}

a.logo:visited {
    color: #FFFFFF;
}

nav div.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
}

.social-media a {
    margin: 0 5px 0 5px;
}

header p {
    font-size: 1.3em;
}

h1 {
    font-size: 1.6em;
    grid-column: 2/3;
    margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', 'Times New Roman', serif;
    color: #FFFFFF;
}

p {
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFFFFF;
}

main a {
    font-family: 'Roboto', Arial, sans-serif;
}

nav #currentDate {
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 5px;
}


/* Main content styles */

body {
    background-color: #144367;
}

.event, .hero-img,.spotlights, .weather, .join, .news-release {
    background-color: #0f3552;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 10px;
}

.join {
    display: none;
}

.spotlight-3 {
    display: none;
}

.hero-img {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    /* height: 150px; */
}

.hero-img picture img {
    width: 100%;
    text-align: center;
}

.hero-img h2 {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-shadow: #144367 2px 1px 10px;
}

.hero-btn {
    position: absolute;
    color: white;
    bottom: 20px;
    right: 10px;
    border: 1px solid #144367;
    background-color: #1FC1C3;
    border-radius: 13px;
    padding: 10px;
}

.hero-btn a {
    color: #000000;
    text-decoration: none;
}

.event {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
}

/*-------------- Weather section --------------*/

.weather {
    grid-column: 1/2;
    grid-row: 3/4;
    /* height: 150px; */
    text-align: center;
    padding: 10px;
}

.weather figure img {
    transition: transform .7s ease-in-out;
}

.weather figure img:hover {
    transform: rotateY(180deg) scale(1.5);
}

#currentCondition {
    transition: transform .3s ease-in-out;
}

#currentCondition:hover {
    transform: scale(1.3);
}

.news-release {
    grid-column: 1/2;
    grid-row: 4/5;
    /* height: 150px; */
    text-align: center;
    padding: 10px;
}

.spotlights {
    grid-column: 1/2;
    grid-row: 5/7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
}

.spotlight-1, .spotlight-2 {
    text-align: center;
    width: 280px;
    background-color: #0f3552;
    padding: 10px;
}

main p {
    color: #FFFFFF;
}

/* Footer styles */

footer {
    background-color: #144367;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

footer h2 {
    font-size: 1.7em;
    color: #FFFFFF;
}

footer p {
    font-size: 17px;
}

footer div.location-info {
    margin-top: 10px;
    line-height: 1.7;
}

footer div.location-info a {
    text-decoration: none;
    color: #FFFFFF;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer div.footer-copyright {
    margin-top: 10px;
}

.content-1::before, .content-2::before, .content-3::before, .content-4::before {
    content: "\a";
    white-space: pre;
}

.bar-1, .bar-2, .bar-3 {
    display: none;
}


/* Discover page */

/* Main tag of the Discover page */

.discover-grid {
    display: block;
}

main.discover-grid h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.demographic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 30px;
    text-align: center;
}

.demographic h3 {
    grid-column: 1/3;
    margin-bottom: 20px;
    text-align: center;
}

.demographic img {
    display: none;
}

.demographic .surface {
    grid-column: 1/2;
}

.demographic-weather {
    text-align: center;
}

.demographic-weather img {
    margin: 20px 0 20px 0;
}

.economy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* line-height: 70px; */
}

.economy h3 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    padding: 10px 0 10px 0;
}

.economy p:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px 0 10px 0;
    margin: auto 0 auto 0;
}

.economy p:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 10px 0 10px 0;
    margin: auto 0 auto 0;
}

.economy p:nth-child(6) {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 10px 0 10px 0;
    margin: auto 0 auto 0;
}

.economy img:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
}

.economy img:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
}

.economy img:nth-child(7) {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0 auto 0 auto;
    padding: 10px 0 10px 0;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.picture-description {
    margin: 10px 0 30px 0;
    text-align: left;
}

#lastDay {
    text-align: center;
    margin-top: 20px;
    background-color: #1FC1C3;
    color: #000000;
    border-radius: 15PX;
    margin-bottom: 30PX;
    padding: 10px 0 10px 0;
}


/*-------------------- Join Page --------------------*/

.main-join {
    display: flex;
    flex-direction: column;
}

.main-join h2 {
    text-align: center;
    margin-top: 25px;
}

/*--------------- Form ---------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #1FC1C3;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #FFFFFF;
    margin: 0 1rem;
    padding: 0.6rem;
    font-size: 1.5rem;
    border: 1px solid #1FC1C3;
    border-radius: 20px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #FFFFFF;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #f5f4f4;
    border-radius: 4px;
    padding: .75rem;
    color: #FFFFFF;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form div:nth-child(2) {
    font-size: 1.1rem;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #FFFFFF;
}

form input.submitBtn {
    border: none;
    background-color: #1FC1C3;
    color: #000000;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

input::placeholder {
    color: #e7e7e7;
}

textarea {
    width: 100%;
    color: #FFFFFF;
    border: 2px solid #e7e7e7;
    background-color: #123C5D;
}

/*--------------- Table ---------------*/

table {
    display: none;
}

.membership-notable h2 {
    font-size: 1rem;
    margin: 20px 0 50px 0;
}

.membership-notable h3 {
    font-size: 1rem;
}

.membership-notable ul {
    list-style: none;
    margin: 15px 0 25px 0;
}

.membership-notable ul li:before {
    content: "✔";
}

.membership-notable ul li {
    font-size: 1rem;
}


/*--------------- Thanks page ---------------*/

.thanks-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks-main div {
    border: 1px solid #1FC1C3;
    margin-bottom: 50px;
}

.thanks-main div {
    text-align: center;
    padding: 20px;
}

.thanks-main div h2 {
    margin-bottom: 15px;
}

/*--------------- Directory page ---------------*/

.directory-main {
    display: block;
}

.directory-main h2 {
    text-align: center;
}

.businesses-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-top: 50px;
    gap: 20px;
}

.businesses-cards section {
    border: 1px solid #1FC1C3;
    text-align: center;
    padding: 10px;
    background-color: #123C5D;
}

.businesses-cards img {
    margin: 10px 0 10px 0;
}

.businesses-cards h3 {
    margin-top: 10px;
}

.businesses-cards p, a {
    margin: 0;
    padding: 5.5px;
}

.businesses-cards a {
    color: #FFFFFF;
}

/*--------------- Directory page in list view ---------------*/

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.menu button{
    padding: 10px;
    margin: 0 10px 0 10px;
    background-color: #1FC1C3;
    color: #000000;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.list section h3 {
    margin-bottom: 10px;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none;
}