@media only screen and (min-width: 64em) {
    
    /*--------------- Main ---------------*/

    /* main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } */

    main > div {
        margin: 30px;
        /* border: 1px solid green;
        background-color: ; */
    }

    .hero-container {
        /* grid-column: 1/4; */
        margin: 0 auto 0 auto;
    }

    .intro-section {
        /* grid-column: 1/4; */
        /* background-color: green; */
        padding: 30px;
    }

    /* .make-drink {
        grid-column: 2/3;
        padding: 40px 0 40px 0;
        margin: 0;
        padding: 0;
    } */

    .weather-container {
        /* grid-column: 1/4; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .weather {
        margin: 0 10px 0 10px;
    }

    /* .summary-section {
        grid-column: 1/4;
    } */

    /*--------------- Fresh Page ---------------*/

    .fresh-main form {
        width: 30%;
    }

    #submitted-output {
        width: 50%;
    }

    /*--------------- About Us Page ---------------*/

    .contact-1, .contact-3 {
        margin: 40px 400px 40px 0;
    }

    .contact-2 {
        margin: 40px 0 40px 400px;
    }
}