@media only screen and (min-width: 64em) {
    
    /*--------------- Main ---------------*/


    main > div {
        margin: 30px;
    }

    .hero-container {
        margin: 0 auto 0 auto;
    }

    .intro-section {
        padding: 30px;
    }

    .weather-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .weather {
        margin: 0 10px 0 10px;
    }

    /*--------------- Fresh Page ---------------*/

    .fresh-main form {
        width: 30%;
    }

    #submitted-output {
        width: 50%;
    }

    /*--------------- About Us Page ---------------*/

    .contact-1, .contact-3 {
        margin: 40px 400px 40px 0;
    }

    .contact-2 {
        margin: 40px 0 40px 400px;
    }
}