
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(#81B549, #45AB5B, #81B549);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', 'Times New Roman', sans-serif;
    color: #000000;
}

p, li, a {
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-size: 1.3rem;
    color: #000000;
}

/*--------------- Header ---------------*/

.nav-social-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px 0 10px 0;
}

.logo-container {
    text-align: center;
    background-color: #45AB5B;
}

.logo-container img {
    filter: drop-shadow(0 0 1px #4e7426);
}

.social-media {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: auto auto auto auto;
    text-align: center;
}

.social-media img {
    width: 35px;
    height: 35px;
}

.social-media a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

nav ul.open {
    display: block;
    grid-column: 1/4;
    margin: 20px auto 0 auto;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

nav ul li a:visited {
    color: #000000;
}

/*----- Toggle Menu -----*/

#hamburgerBtn {
    width: 50px;
    height: 50px;
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0 auto 0 auto;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/*--------------- Main ---------------*/

main {
    grid-template-columns: 1fr;
    padding: 5px;
}

main div {
    margin: 60px 0 60px 0;
}

hr {
    display: none;
}

.hero-container h1 {
    font-size: 1.7rem;
    text-align: center;
}

.intro-section p {
    margin: 50px 0 15px 0;
    text-align: left;
}

.make-drink {
    border: 2px solid #000000;
    text-align: center;
    padding: 20px 0;
    background-color: #45AB5B;
}

.drink-button {
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #81B549;
}

.drink-button a {
    padding: 8px;
    display: block;
}

.weather-container div {
    border: 1px solid #000000;
    text-align: center;
    display: block;
    background-color: #45AB5B;
}

.summary {
    border: 1px solid #000000;
    padding: 15px;
    background-color: #45AB5B;
}

.summary img {
    width: 100%;
}

/*--------------- Fresh Page ---------------*/

.fresh-main {
    display: block;
}

.fresh-main h1 {
    text-align: center;
    margin-bottom: 50px;
}

.fresh-main form {
    border: 2px solid #000000;
    box-shadow: 14px 14px 60px #3ebb44, -14px -14px 60px #3ebb44;
    border-radius: 35px;
    color: #000000;
    padding: 15px 15px;
    font-size: 1.2rem;
    background-color: #45AB5B99;
}

.fresh-main form label, input, select {
    display: block;
    margin: 8px 0 20px 0;
}



.fresh-main form input {
    padding: .65rem;
    border-radius: 10px;
}

.fresh-main select {
    padding: .55rem;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.fresh-main form textarea {
    width: 90%;
    height: 100px;
    margin-top: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.submitBtn {
    background-color: #45AB5B;
    color: #000000;
    border: 2px solid #000000;
    cursor: pointer;
}

#submitted-output {
    display: none;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    background-color: #45AB5B;
}

#submitted-output h2 {
    border-bottom: 1px solid #000000;
}

/*--------------- About Us Page ---------------*/

.about-main {
    display: block;
    padding: 10px;
}

.about-main h1, h2 {
    text-align: center;
}

.info-container div {
    border: 1px solid #000000;
    padding: 8px;
    background-color: #45AB5B;
    border-radius: 10px;
}

.info-container div h2 {
    text-align: center;
    background-color: #81B549;
    border-bottom: 2px solid #000000;
    border-radius: 8px;
}

.info-container div p {
    text-align: left;
}

.contact-1, .contact-2, .contact-3 {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 8px;
    background-color: #45AB5B;
}

.contact-2 {
    text-align: right;
}

.info-container hr {
    width: 90%;
}

.map {
    margin: 0 auto;
    border: 4px solid #81B549;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-top: 20px;
}

/*--------------- Footer ---------------*/

footer {
    background-color: #45AB5B;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #000000;
}

footer img {
    filter: drop-shadow(0 0 1px #4e7426);
}

.copy {
    font-size: 1.5rem;
}