body {
    max-width: 480px;
    margin: auto;
}

header {
    display: flex;
    background-color: #3377AA;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 30px 5px rgb(177, 177, 177);
}

img {
    box-shadow: 0 0 10px 0 rgb(49, 49, 49);
}

h1 {
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 0 15px #333333;
}

h2 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 0 10px gray;
}

li {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3377AA;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px 5px rgb(142, 142, 142);
}

footer > p {
    /* text-shadow: 1px 0 1px rgb(214, 214, 214); */
    color: white;
}

#lastUpdated{
    color: white;
    margin-top: -10px;
}